@import "tailwindcss";
@theme {
    --color-primary: #121212;
    --color-accent: #1db954;
    --color-secondary: #181818;
    --color-muted: #b3b3b3;
  }
  /* Custom scrollbar styling with transition */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    background-color: var(--color-accent);
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  body{
    user-select: none;
  }
  *{
    scroll-behavior: smooth;
  }